<div class="row">
  <div class="col-md-7 col-sm-5 text-center">
    <img src="{{image}}" class="img-reg img-responsive">
    <h2>Aumenta tus <span class="text-info">ventas</span> y encuentra lo que <span class="text-info">buscas</span></h2>
  </div>
  <div class="col-md-5 col-sm-7">
    <h3>¡Regístrate!</h3>
    <form #formNewUser="ngForm" (ngSubmit)="createUser()">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          name="nombre-registro"
          placeholder="Nombre o Institucion ..."
          [(ngModel)]="name"
          required
        >
      </div>
      <div class="form-group" >
        <select
          id="type"
          class="form-control"
          name="type"
          [(ngModel)]="type"
          required
        >
          <option *ngFor="let tipo of tiposUsuario" value="{{tipo.id}}">{{tipo.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          name="email-registro"
          placeholder="Ingresa tu correo electronico ..."
          #mail
          [(ngModel)]="email"
          (blur)="verificaMail()"
          required
        >
        <div *ngIf="alertMensaje" class="{{alertMensaje.tipoMail}}">
          <p>{{alertMensaje.mensajeMail}}</p>
        </div>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="psw-registro"
          placeholder="Ingresa tu contraseña ..."
          [(ngModel)]="password"
          (blur)='verificaPsw()'
          required
        >
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          name="pswC-registro"
          placeholder="Confirma tu contraseña ..."
          [(ngModel)]="passwordC"
          (blur)='verificaPsw()'
          required
        >
        <div *ngIf="alertMensaje" class="{{alertMensaje.tipoPsw}}">
          <p>{{alertMensaje.mensajePsw}}</p>
        </div>
      </div>
      <div class="form-group">
        <input
          type="number"
          name="phone"
          class="form-control"
          placeholder="Ingresa tu Numero tefonico ..."
          [(ngModel)]="phone"
          required
        >
      </div>
      <div *ngIf="alertMensaje"  class="{{alertMensaje.tipoForm}}">
        <p>{{alertMensaje.mensajeForm}}</p>
      </div>
      <div class="pull-right">
        <button
          type="submit"
          class="btn btn-primary bg-color-1 btn-lg"
          name="registro"
          [disabled]="!formNewUser.form.valid"
          >
          Crear Cuenta
        </button>
      </div>
    </form>
  </div>
</div>
