<div class="container-fluid text-center">
  <div class="menu-product pull-left text-left">
    <ul class="nav nav-pills nav-stacked">
      <li *ngFor="let categoria of categorias">
        <a href="#{{categoria.id}}" data-toggle="collapse">
          <strong class="categoria-titulo">{{categoria.name}} <span class="fa fa-caret-square-o-down"></span></strong>
        </a>
        <ul *ngIf="categoria.subcategoria" class="nav collapse" id="{{categoria.id}}">
          <li *ngFor="let subcategoria of categoria.subcategoria">
            <a href="#" class="categoria-item">{{subcategoria}} <i class="fa fa-tag" aria-hidden="true"></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content-product pull-right">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of productos, let i = index">
      <div class="thumbnail product-cart">
        <img src="{{product.image}}" class="img-product">
        <div class="caption">
          <h3><a [routerLink]="['/productos', product.id]">{{product.name}}</a></h3>
          <p>{{product.desciption}}</p>
          <p>
            <span *ngFor="let item of product.points">
              <span class="fa fa-star" *ngIf="item == 2"></span>
              <span class="fa-star-half-o" *ngIf="item == 1"></span>
              <span class="fa fa-star-o" *ngIf="item == 0"></span>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
