body {
  padding-top: 5rem;
}
.bg-color-1{
  background-color: #282f71;
}
.bg-color-2{
  background-color: #585966;
}
.color-2{
  color: #585966;
}
.bg-color-3{
  background-color: #d0d0d6;
}
.bg-color-4{
  background-color: #ffffff;
}
.menu-btn-c{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.menu-btn-c span{
  color: #282f71;
}
